{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            <title>Project Details</title>
        {% endblock title %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
                <div>
                    <h1>{{ project_details.name }}</h1>
                    <p>{{ project_details.description }}</p>
                    <h2>Tasks</h2>
                    <p>
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </p>
                    {% if not project_details.tasks.all %}
                        <p>This project has no tasks</p>
                    {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                                <tbody>
                                    {% for tasks in project_details.tasks.all %}
                                        <tr>
                                            <td>{{ tasks.name }}</td>
                                            <td>{{ tasks.assignee }}</td>
                                            <td>{{ tasks.start_date }}</td>
                                            <td>{{ tasks.due_date }}</td>
                                            <td>{{ tasks.is_completed|yesno }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </thead>
                    </table>
                </div>
            </main>
        </body>
    </html>
{% endblock content %}
